<!--by Abhinav Mukerji(EN18CS301006)-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}"">Medi-Care Hospital &nbsp<i class="fab fa-medium"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
	<li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About Us</a>
        </li>
	{% if not request.user.is_staff %}
	<li class="nav-item">
          <a class="nav-link" href="{% url 'admin_login' %}">Login</a>
        </li>
	{% endif %}
	{% if request.user.is_staff %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Doctor
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'view_doctor' %}">View Doctor &nbsp;&nbsp;&nbsp;<i class="fas fa-eye"></i></a>
            <a class="dropdown-item" href="{% url 'add_doctor' %}">Add Doctor &nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-plus-square"></i></a>
          
        </li>

	<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Patient
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'view_patient' %}">View Patient &nbsp;&nbsp;&nbsp;<i class="fas fa-eye"></i></a>
            <a class="dropdown-item" href="{% url 'add_patient' %}">Add Patient &nbsp;&nbsp;&nbsp;&nbsp; <i class="far fa-plus-square"></i></a>
          
        </li>

	<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Appointment
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'view_appointment' %}">View Appointment &nbsp;&nbsp;&nbsp;<i class="fas fa-eye"></i></a>
            <a class="dropdown-item" href="{% url 'add_appointment' %}">Add Appointment &nbsp;&nbsp;&nbsp;&nbsp; <i class="far fa-plus-square"></i></a>
          
        </li>
	
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout_admin' %}">Logout</a>
        </li>
	{% endif %}
      </ul>
      
    </div>
  </div>
</nav>